*.npz
*.log
*.vti
*.pyc
/home/arawa/liver-3d-simulations/3D_simulations/__pycache__
*tst/BO/BO_paraviewFiles_Latest_sim/
*segmentedSinusoids_npz/
!segmentedSinusoids_npz/segmentedSinusoids_AK_FV_cropped768_new_adjusted_cropped.npz
!segmentedSinusoids_npz/segmentedSinusoids_AK_FV.npz
!liver-3d-simulations/3D_simulations /old_config
3D_simulations/3dcpm_freespace_small_simulations
!/home/arawa/liver-3d-simulations/Segmentation_sinusoids/__pycache__old
*/home/arawa/liver-3d-simulations/Segmentation_sinusoids/__pycache__old
*3D_simulations/old_config
/home/arawa/liver-3d-simulations/Segmentation_sinusoids/logs
/home/arawa/liver-3d-simulations/Expansion_sinusoids/logs
*.vti
*.pyc
*tst/BO/BO_paraviewFiles_Latest_sim/
segmentedSinusoids_npz/
!segmentedSinusoids_npz/segmentedSinusoids_AK_FV_cropped768_new_adjusted_cropped.npz
!segmentedSinusoids_npz/segmentedSinusoids_AK_FV.npz

3D_simulations /3dcpm_freespace_small_simulations
Segmentation_sinusoids/3D_unet

liver-3d-simulations/3D_simulations/segmentedSinusoids_npz/*.npz
!liver-3d-simulations/3D_simulations/segmentedSinusoids_npz/segmentedSinusoids_AK_FV.npz
!liver-3d-simulations/3D_simulations/segmentedSinusoids_npz/segmentedSinusoids_AK_FV_cropped128_new_adjusted.npz

liver-3d-simulations/3D_simulations/old_config
3D_simulations/old_config
old_config/
/home/arawa/liver-3d-simulations/3D_simulations/old_files
/home/arawa/liver-3d-simulations/3D_simulations/final_simulation128_50.py
/home/arawa/liver-3d-simulations/3D_simulations/final_simulation128_20.py
/home/arawa/liver-3d-simulations/3D_simulations/final_simulation128_10.py
/home/arawa/liver-3d-simulations/3D_simulations/final_simulation128_5.py
*.vti
*.pyc
*.npz
*__pycache__/
tst/BO/BO_paraviewFiles_Latest_sim/
segmentedSinusoids_npz/
!segmentedSinusoids_npz/segmentedSinusoids_AK_FV_cropped768_new_adjusted_cropped.npz
!segmentedSinusoids_npz/segmentedSinusoids_AK_FV.npz
3D_simulations/old_config
old_config/
final_simulation128_10.py
final_simulation128_20.py
final_simulation128_50.py
final_simulation128_5.py
3D_simulations/final_simulation128_5.py
3D_simulations/final_simulation128_10.py
3D_simulations/final_simulation128_20.py
3D_simulations/final_simulation128_50.py



3D_simulations/tst/Bash_forLoops_paramSearch/output_v2_AK.txt3D_simulations/old_files/
3D_simulations/old_files/
*.npy
